.App {
  text-align: center;
}
.button {
  height: 50px;
  width: 80px;
  background-color: #455a65;
  color: white;
  border-left: #273338 5px solid;
  border-top: #273338 5px solid;
  border-right: #607d8b 5px solid;
  border-bottom: #607d8b 5px solid;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: 700;
  height: 100px;
  vertical-align: middle;
}
.letter {
  color: white;
  background-color: #455a65;
  padding: 15px;
  margin-left: 8px;
  vertical-align: middle;
  border-left: #273338 5px solid;
  border-top: #273338 5px solid;
  border-right: #607d8b 5px solid;
  border-bottom: #607d8b 5px solid;
  border-radius: 10%;
}

.line {
  padding: 30px;
}
